.lessons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2%;
}

.lessons__list--card {
    width: 80vw;
    height: 14rem;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    background-color: rgba(231, 242, 245, 0.8);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.lessons__list--lesson-number {
    font-size: 22px;
    color: white;
    background-color: #15616D;
    border-radius: 20px;
    padding: 5px 15px;
}

.lessons__list--lesson-title {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.lessons__list--lesson_intro {
    font-size: 16px;
    font-family: Arial, Tahoma, sans-serif;
}

@media (min-width: 768px) {
    .lessons__list {
        width: 70vw;
        justify-content: start;
    }
    
    .lessons__list--card {
        width: 32%;
    }
}


