.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.key {
  width: 5.5vw;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  line-height: 3em;
  letter-spacing: 1px;
  margin: 0.2em;
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 0.8;
  border: 2px solid #706d6d;
  background-color: white;
  cursor: pointer;
}

.special-key {
  height: 34px;
  width: 10vw;
}

.space {
  height: 34px;
  width: 40vw;
  color: black;
  font-family: sans-serif;
  border-radius: 0.4em;
  transition: 0.3s;
  background-color: white;
  opacity: 0.8;
}

.key_two {
  position: relative;
}

.top {
  position: absolute;
  left: 4px;
  top: -10px
}

.bottom {
  position: absolute;
  right: 4px;
  bottom: -10px
}

.key.active {
  background-color: #3abbbb;
}

.key.wrong {
  -webkit-animation: 2s;
  animation:blinkKey 2s;
}

@-webkit-keyframes blinkKey{
  0% {
    background-color:#df3138;
  }
  100% {
    background-color:white;
  }
}

@keyframes blinkKey {
  0% {
    background-color:#df3138;
  }
  100% {
    background-color:white;
  }
}

@media (min-width: 768px) {
  .keyboard {
    justify-content: center;
    margin-top: 2rem;
  }
  
  .key {
    height: 3em;
    width: 3em;
    font-size: 1em;
  }
  
  .special-key {
    width: 6.2rem;
  }
   
  .space {
    height: 3em;
    width: 17em;
    margin: 0.4em;
    font-size: 1em;
  }
  
}