.container-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 1rem;
    grid: 1rem;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
}

.keyboard-container {
    display: flex;
}

img.hand {
    width: 17rem;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    justify-content: start;
    text-align: center;
    padding-right: 2rem;
  }
  
.result-list {
    list-style-type: none;
    text-align: center;
    flex: 0 0 16%;
    max-width: 16%;
}
  
.result-list small {
    font-size: small;
}
  
.input-container {
    width: 650px;
    height: 20vh;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
  
  