.btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  opacity: 0.8;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 1;
}


.timer__start-btn {
  color: green;
}

.timer__stop-btn {
  color: #c62828;
}


@media (min-width: 768px) {
  .btn {
    width: 5rem;
    height: 5rem;
    font-size: 1.2rem;
  }

  .btn:hover {
    transform: scale(1.1);
  }
  

}
