/* .btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.8;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.timer-start-btn {
  color: green;
}

.timer-stop-btn {
  color: #c62828;
}

.timer-reload-btn {
  color: black;
} */