.tests-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}

.tests-intro {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: sans-serif;
  line-height: 1.7rem;
  opacity: 0.8;
}

.tests-title {
  padding: 10px;
  font-size: 28px;
  font-style: italic;
}

.tests-description {
  padding: 10px;
  font-style: italic;
}

.level-card{
  display: flex;
  align-items: center;
  gap: 3%;
  padding-top: 2rem;
}

.level-box {
  display: flex;
  gap: 20px;
}

.tests-info {
  width: 40vw;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  background-color: rgba(231, 242, 245, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}

.level-title {
  font-size: 28px;
  font-weight: 500;
}

.tests-amount {
  text-align: center;
}

.level-image {
  width: 110px;
  height: 70px;
}

.start-test {
  width: 100px;
  color: var(--highlight-color);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 480px) {
  .level-card{
    display: flex;
    flex-direction: column;
  }

  .tests-info{
    width: 60vw;
    margin: 1rem;
  }
  .level-title {
    font-size: 1.5rem;
    margin: 5px;
  }

  .level-image {
    width: 50%;
  }

  .start-test {
    width: 20vw;
    padding: 0px;
    margin: 5px;
    font-size: 0.8rem;
    text-align: center;
  }
} 

@media (min-width: 768px) {
  .tests-container {
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  .level-card{
    display: flex;
  }

  .level-box {
    display: flex;
    gap: 20px;
  }

  .tests-info{
    width: 20vw;
    margin: 1rem;
  }
}