.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.8;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.timer-start-btn {
  color: green;
}

.timer-stop-btn {
  color: #c62828;
}


.time {
  color: white;
  opacity: 0.8;
}