header {
  width: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__logo-container {
  position: absolute;
  left: 1rem;
}

.header__logo{
  width: 160px;
  height: 70px;
  background-image: url('./img/logo.png');
  background-size: contain;
}

.header__rollout-nav {
  z-index: 2;
  position: fixed;
  right: 1rem;
  top: 2.5rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: #203A43;
  border: 1px solid white;
  box-shadow: 2px 2px 4px rgba(243, 241, 241);
}

.header__nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}

.header__nav-btn.header__menu {
  background-image: url("./img/menu.png");
}

.header__nav-btn.header__cross{
  background-image: url("./img/cross.png");
}

.header__rollout-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.5s;
  line-height: 30px;
  opacity: 0.6;
  margin: 0;
}

.header__rollout-nav a:hover {
  cursor: pointer;
  opacity: 1;

}

.header__nav-closed {
  display: none;
}

@media (min-width: 768px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
    }

    .header__rollout-nav {
      position: static;
      padding: 0;
      display: flex;
      flex-direction: row;
      background: transparent;
      border: none;
      box-shadow: none;
      margin-right: 30px;
    }

    .header__rollout-nav a {
      border-bottom: 1px solid transparent;
      text-decoration: none;
      margin: 1rem;
    }

    .header__rollout-nav a:hover {
      cursor: pointer;
    }

    .header__nav-btn {
      display: none;
    }

    .header__rollout-nav a.header__active {
      opacity: 1;
      border-bottom:2px solid var(--highlight-color);
    }
}
