.lessonspage__page--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.lessonspage__lessons--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lessonspage__lessons--section {
    width: 80vw;
    background-color: rgba(231, 242, 245, 0.8);
    color: #203A43;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    cursor: pointer;
}

.lessonspage__section--container {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lessonspage__section--info {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lessonspage__section--title {
    font-size: 22px;
    font-style: italic;
}

.lessonspage__section--amount {
    margin-top: 5px;
}

.lessonspage__section--icon {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    background: transparent;
    background-size: contain;
}

.lessonspage__icon--closed {
    background-image: url('./img/icon-closed.png');
}

.lessonspage__icon--opened {
    background-image: url('./img/icon-opened.png');
}

.lessonspage__icon-to-top {
    position: fixed;
    width: 30px;
    right: 5px;
    bottom: 20px;
    opacity: 0.7;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.lessonspage__icon-to-top:hover {
    opacity: 1;
    animation: none
}

@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }

@media (min-width: 768px) {
    
    .lessonspage__lessons--section {
        width: 70vw;
    }
    
    .lessonspage__section--info {
        gap: 2rem;
    }
    
    .lessonspage__section--title {
        font-size: 28px;
    }
    
    .lessonspage__section--icon {
        margin-right: 1rem;
    }

    .lessonspage__icon-to-top {
        right: 20px;
        width: 70px;
    } 
}

