.introduction-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;

}

.introduction-title{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.introduction-intro{
  font-style: italic;
  font-size: 1.1rem;
}
.introduction-subtitle{
  padding-top: 20px;
  display: inline-block;
}

p{
padding-top: 15px;
}

.introduction-section{
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.section-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-description{
  margin: 20px;
  padding: 5px 10px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
}

.exercise-images{
  max-width: 40vw;
  margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
}

.finger-exercise{
  width: 100%;
  margin: 5px;
}

.keyboard-instruction{
  display: flex;
  justify-content: center;
}

.color-keyboard{
  width: 80vw;
  margin-top: 0.5rem;
}

.finger-placement{
  display: flex;
  justify-content: center;
}

.left-hand,
.right-hand{
  width: 10rem;
  height: 10rem;
}

.metrics-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.metric-item{
  margin: 20px;
padding: 5px 10px;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 1px solid white;
  box-shadow: 2px 2px 4px rgba(243, 241, 241);
}



@media (min-width: 768px) {
  .introduction-container{
    width: 80%;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding-left: 6px;
    color: #fff;
    opacity: 0.8;
    line-height: 1.8 ;
  }

  .introduction-intro{
    font-style: italic;
    font-size: 1.2rem;
  }

  .section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: nowrap;
    gap: 2%;
  }
  
  .section-description{
    flex-basis: calc(100% / 3);
    margin: 20px;
    padding: 5px 10px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
    height: auto;
  }
  

  .exercise-images{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
  }

  .finger-exercise{
    width: 30%; 
  margin: 10px;
  }

  .color-keyboard{
    width: 65vw;
  }
  

  .left-hand,
.right-hand{
  width: 18rem;
  height: 18rem;
}

.metrics-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  flex-wrap: nowrap;
  gap: 2%;


}

.metric-item{
  flex-basis: calc(100% / 3);
  margin: 20px;
  padding: 5px 10px;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 1px solid white;
  box-shadow: 2px 2px 4px rgba(243, 241, 241);
  height: auto;
}

}

