.container-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0.5rem;
}

.up-container {
    width: 100vw;
    padding: 0 1rem;
    margin:  1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.links-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    text-decoration: none;
}

.links-container a:visited {
    color: white;
}

.statistics-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.result-container {
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
.result-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
  
.result-list small {
    font-size: small;
}

.input-container {
    width: 90vw;
    height: 45px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
    border-radius: 5px;
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    margin-left: 5vw;
    overflow: hidden;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
}

.hands-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .container-page {
        padding: 1rem;
    }

    .up-container {
        padding: 0 3rem;
        margin: 0;
    }
    
    .statistics-container {
        flex-direction: row;
    }

    .result-container {
        margin: 0;
    }
    
    .middle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    .input-container {
        width: 700px;
        margin-left: 0;
    }

}

@media (min-width: 1024px) {
    
    .middle-container {
        height: auto;
    }
    
    .hand-image.left {
        bottom: 200px;
        right: 350px;
        position: relative;
    }

    .hand-image.right {
        bottom: 200px;
        left: 350px;
        position: relative;
    }

    .hands-container {
        height: 0;
    }
}
    
   