.container-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 0.5rem;
}

.up-container {
    height: 10vh;
    display: flex;
    margin: 0 0 1rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.button {
    color: white;
    height: 40px;
    width: 70px;
    font-size: 12px;
    border-radius: 0.25rem;
    border: 1px solid white;
    background-color: rgba(243, 241, 241, 0.6);
    cursor: pointer;
}

.result-container {
    color: white;
    text-align: center;
  }
  
.result-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
  
.result-list small {
    font-size: small;
}

.middle-container {
    height: 67vh;
}

.input-container {
    width: 90vw;
    height: 45px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
    border-radius: 5px;
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    margin-left: 5vw;
    overflow: hidden;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
}

.hands-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .container-page {
        padding: 1rem;
    }
    
    .button {
        height: 50px;
        width: 100px;
    }
    
    .button.back {
        margin-left: 2rem;
    }
    
    .button.next {
        margin-right: 2rem;
    }

    .result-container {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .middle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    .input-container {
        width: 700px;
        margin-left: 0;
    }
    
    .keyboard-container {
        height: 40vh
    }

}

@media (min-width: 1024px) {
    .hand-image.left {
        bottom: 200px;
        right: 350px;
        position: relative;
    }

    .hand-image.right {
        bottom: 200px;
        left: 350px;
        position: relative;
    }
}
    
   