.timer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.timer__container--time {
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}

@media (min-width: 768px) {
  
  .timer__container--time {
    font-size: 1.4rem;
  }

  .timer__container {
    margin-top: -1.5rem;
    gap: 1.8rem;
  }
}
