.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
  gap: 0.5rem;
}

.time {
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}

@media (min-width: 768px) {
  
  .time {
    font-size: 1.4rem;
  }
}
