.homepage {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  
}

.homepage__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.homepage__wrapper{
  color: #fff;
  opacity: 0.8;
}


.homepage__banner {
  text-transform: uppercase;
}

pre {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  line-height: 2rem;
}

.homepage__button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.homepage__button button {
  width: 10rem;
  font-size: 1.3rem;
  color: var(--highlight-color);
  background: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px rgba(243, 241, 241);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.homepage__image img {
  width: 100%;
  margin-top: 2rem;
  opacity: 0.8;
}

.homepage__banner--blinking-cursor {
  margin-top: 7rem;
  text-transform: uppercase;
}

.homepage__banner--blinking-cursor::after,
.homepage__subheading--blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

.homepage__banner--text {
  color: #fff;
}

.homepage__subheading--text {
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 20px;
  color: var(--highlight-color);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .homepage {
    flex-direction: row;
    justify-content: space-between;
  }

  .homepage__content {
    flex-direction: row;
    width: 100%;
  } 

  .homepage__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .homepage__banner {
    margin-top: 3rem;
  }
  
  .homepage__subheading--text {
    padding-left: 170px;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--highlight-color);
  }
  
  pre {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .homepage__button {
    height: 3rem;
    margin-top: 5rem;
    gap: 3rem;
  }  

  .homepage__image {
    margin-bottom: 20px;
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
