.results__container { 
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.results__container--section { 
    height: 50vh;
    width: 90vw;
    max-width: 50rem;
    padding: 0.5rem;
    color: #203A43;
    text-align: center;
    background-color: rgba(231, 242, 245, 0.8);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results__container--value {
    color: #235566;
    font-weight: bold;
}

.results__container--links {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results__container--links a {
    color: #203A43;
    text-decoration: none;
}

.results__container--links a:visited {
    color: #203A43;
}

.results__container--restart-link {
    background-image: url('./img/restart\ button.png');
    height: 40px;
    width: 40px;
    background-size: cover;
    cursor: pointer;
}

.results__container--exercises-list {
    display: flex;
    flex-wrap: wrap;
}

.results__container--exercise-item {
    width: 20%;
    background: #abc6ca;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(243, 241, 241);
    cursor: pointer;
}

@media (min-width: 768px) {
    .results__container--section { 
        height: 40vh;
        width: 50vw;
        padding: 2rem;
    }

    .results__container--links {
        font-size: 1.5rem;
    }

    .results__container--restart-link {
        height: 60px;
        width: 60px;
    }
}